.DS_Store
/Test/
Atari800/Pascal/Example/Example.lst
Atari800/Pascal/Example/Example.xex
Atari800/Pascal/Example/Example.a65
Atari800/Pascal/Example/Example.xex
Atari800/Pascal/Example/Example.xex
Atari800/Pascal/Example/Example.xex
